* {
 color: white;
}

  body {
    background-image: url("citybkg.jpg");
}

article {

  border: none;
  margin-bottom: 5px;
}

section {
 height: 600px;
 overflow-y: scroll;
}

.show {
 display: block;
}

.form-control {

  background-color: #ED1D25;
  border: none;
  margin: 0 0 5px 0;
  padding: 0;
  color: white;
}

.delete-message {
  margin: 5px;
}

.custom-input {
  margin-top: -15%;
}

.custom-input input::-webkit-input-placeholder {
 color: black;
}

.custom-input input::-moz-placeholder {
 color: black;
}

.custom-input input:-moz-placeholder {  /* Older versions of Firefox */
 color: black;
}

.custom-input input:-ms-input-placeholder {
 color: black;
}

.btn-primary {
  background-color: #008CBA;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #4EB6E5;
  border: none;
}
